* {
	padding: 0;
	margin: 0;
}

:root {
	--toolbar-height: 35px;
}

#root-container {
	height: 100vh;

	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
}

#toolbar {
	flex-grow: 1;
	align-self: stretch;

	width: 100%;
	height: var(--toolbar-height);

	background-color: gray;

	border-bottom: 1px solid #000000;
}

#code-editor {
	flex-grow: 0;
	align-self: stretch;

	width: 50%;
	height: calc(100% - var(--toolbar-height));

	background-color: lightgray;
}

#editor {
	width: 100%;
	height: 50vh;

	resize: none;
}

#editor:focus {
	outline: none;
}

#code-editor-container {
	padding: 25px;
}

#code-editor-buttons {
	padding-top: 25px;
}

#code-editor-buttons button {
	width: 150px;
	height: 50px;
}

#canvas {
	flex-grow: 0;
	align-self: stretch;

	width: 50%;
	height: calc(100% - var(--toolbar-height));

	background-color: lightgray;
}

#main-canvas {
	width: 100%;
	height: 50vh;
	image-rendering: pixelated;
}

#canvas-container {
	padding: 25px;
}